body{
    background-color: #D3F8FF;
}
.navigation-bar {
    background-color: #070222;
    overflow: hidden;
    text-align: end;
    border-radius: 5px;
}

.navigation-bar ul {
    margin: 0px;
    padding: 0px;
}

.navigation-bar ul li {
    display: inline-block;
    list-style-type: none;
}

.navigation-bar ul li a {
    color: white;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
}

.logo {
    float: left;
    position: relative;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.bg {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462433__340.jpg");
    border-radius: 10px;
    object-fit: contain;
    height: auto;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-txt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 160px 0px 15px 75px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 25px;
    font-weight: 600;
}

.btn {
    padding: 10px 30px;
    background-color: white;
    color: black;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 10px;
    margin-left: 75px;
    margin-bottom: 35px;
}

.btn:hover{
    background-color: #070222;
    color: white;
}

.main-pg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 600;
}

.row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.row1 div {
    text-align: center;
    position: relative;
    background-color: gray;
    padding: 6em 3em;
}

.client-txt {
    margin: 20px 0px;
    text-align: center;
    font-size: 30px;
}

.client-logo {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
}

.client-logo div {
    position: relative;
    box-shadow: 3px 5px 8px gray;
}

footer {
    display: flex;
    background-color: #8a8a8a;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;

}

.address {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    padding: 20px 0px 20px 20px;
}

.social-footer-icons .fa {
    font-size: 20px;
    color: #fefefe;
}

.social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}